.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 25px;
}

.NavBar-link,
.NavBar-link-home {
  text-decoration: none;
}

.NavBar-link-home {
  font-size: 1.5rem;
  color: white;
}

.NavBar-link {
  color: rgb(255, 255, 255, 0.55);
}

.NavBar-link:hover{
  color: white;
}

.NavBar-right {
  display: flex;
  gap: 20px;
}

.NavBar-right .active {
  color: white;
  font-weight: 400;
}